@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --base-100: #FFFFFF;
    --base-200: #fff9f1;
    --base-300: #fff2da;
    --primary: #442d28;
    --secondary: #fbe1bb;
    --success: #10B981;
    --danger: #EF4444;
    --warning: #F59E0B;
    --info: #3B82F6;
    --accent: #f9c06a;
    --dark: #111827;
    --light: #F9FAFB;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --primary-font: 'Poppins';
}
