.checkoutProductList {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.checkoutProductList__list {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkoutProductList__item {
    list-style: none;
}